{% extends "layout.html" %}
{% block content %}

<h6>Enter or paste the URL link of a news article to extract the news data summary:</h6>

{% from "_formhelpers.html" import render_field %}
<form method="post" action=''>

    <dl>
        <p>
            {{ render_field(form.search) }}
    </dl>
    </p><input name="urllink" class="btn btn-primary btn-lg" type=submit value="GET SUMMARY">
</form>
<br>

{% for error in errors %}
<h4 class="errormsg">{{ error }}</h4>
{% endfor %}

<h6>Can't think of or find URL link of a news article?</h6>
<p>* please note many major news sites can not be scraped due to site protection, cookies, etc<br>
so if a link is not working, please pick a link from examples below.</p>
<p>Here are few examples of URL link you can copy and paste into the form above!</p>

<div class="bg-white py-3 mb-3">
    <a href="https://www.smh.com.au/world/europe/russia-confirms-it-accidentally-bombed-its-own-city-20230422-p5d2hl.html"
        target="_blank">https://www.smh.com.au/world/europe/russia-confirms-it-accidentally-bombed-its-own-city-20230422-p5d2hl.html</a>
    <br><br>
    <a href="https://www.scmp.com/news/world/europe/article/3218023/uk-test-emergency-alert-system-millions-phones-drawing-criticism-over-intrusion"
        target="_blank">https://www.scmp.com/news/world/europe/article/3218023/uk-test-emergency-alert-system-millions-phones-drawing-criticism-over-intrusion</a>
    <br><br>
    <a href="https://www.smh.com.au/world/europe/glaciers-already-lost-extreme-melt-has-contributed-to-10cm-rise-in-ocean-levels-20230422-p5d2gz.html"
        target="_blank">https://www.smh.com.au/world/europe/glaciers-already-lost-extreme-melt-has-contributed-to-10cm-rise-in-ocean-levels-20230422-p5d2gz.html</a>
</div>

<span>Please visit my <a href="https://www.morikaglobal.com" target="_blank">Portfolio site</a> or <a
        href="https://github.com/morikaglobal/newsdatasummary_app" target="_blank">my github </a> for the
    code of this app.</span><br><br>
<h6>About this app</h6>

<p><span>Previously I built a simple <a href="https://python-newsscraperapp.an.r.appspot.com/" target="_blank">News
            Scraper APP</a> on the web using <strong>Python</strong> to scrape</span><span>the latest news
        from a specific news site using <strong>Beautiful Soup</strong> and <strong>Flask</strong>.</span>
    <br><br>
    <span>This time, I built slightly more advanced version of the app to scrape news data from a news
        article</span><span> using <strong>Python</strong> package <strong>newspaper3k</strong>, then deployed the app using <strong>Flask</strong> and on
        <strong>Google App Engine</strong>.</span>

    <br><br>

    <span>First of all, when the URL link form above captures the URL link of a news article,</span><span> the
        <strong>newspaper3k</strong> package will extract and parse the data of the article with its Natural Language Processing.</span><span>For form input
        handling and validation, I used <strong>WTForms</strong> and
        <strong>requests</strong> libraries to grab the URL link entered in the form.</span><span>
        Then, from the data extracted I extract following data to render on the first part of my result
        page:</span>
    <br><br>


    <strong>Title</strong><br>
    <strong>Published date</strong><br>
    <strong>Author</strong><br>
    <strong>Top image (source link)</strong>
    <br><br>

    <span>At the same time, using the full text of the article extracted,</span><span>my app also generates
        <strong>WordCloud</strong> for the news article.</span><span>The WordCloud on the result page will display the
        words that are the most frequent among the news text extracted.</span><span><strong>io</strong> library is used
        to keep the WordCloud image in memory and <strong>base64</strong> to convert the resulting bytes</span><span> to
        base64 in order to return the image as part of our HTML response and render the image.</span>
        <span>* Please note WordCloud is currently disabled due to image storage issue</span>
    <br><br>

    <span>Lastly <strong>newspaper3k</strong> can also run its simple natural language processing to extract keywords from the news and also produce the summary of the article text.</span><br><br>

    <strong>Keywords (WordCloud image)</strong><br>
    <strong>Summary</strong>
    <br><br>
    <span>Keywords(WorldCloud) image and the summary of the news text will be displayed as the second part
        of the result page.</span>

    <br><br>
</p>

{% endblock %}